/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
:root {
  --ion-color-primary: #22c55e;
  --ion-color-primary-rgb: 34, 197, 94;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #1eaa53;
  --ion-color-primary-tint: #38ca6e;

  --ion-color-secondary: #10b981;
  --ion-color-secondary-rgb: 16, 185, 129;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0ea372;
  --ion-color-secondary-tint: #28c08f;

  --ion-color-tertiary: #14b8a6;
  --ion-color-tertiary-rgb: 20, 184, 166;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #12a292;
  --ion-color-tertiary-tint: #2cbfaf;

  --ion-color-success: #22c55e;
  --ion-color-success-rgb: 34, 197, 94;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #1eaa53;
  --ion-color-success-tint: #38ca6e;

  --ion-color-warning: #fbbf24;
  --ion-color-warning-rgb: 251, 191, 36;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #dda820;
  --ion-color-warning-tint: #fbc53a;

  --ion-color-danger: #ef4444;
  --ion-color-danger-rgb: 239, 68, 68;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d23c3c;
  --ion-color-danger-tint: #f15757;

  --ion-color-medium: #94a3b8;
  --ion-color-medium-rgb: 148, 163, 184;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #828fa2;
  --ion-color-medium-tint: #9facbf;

  --ion-color-light: #f1f5f9;
  --ion-color-light-rgb: 241, 245, 249;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d4d8db;
  --ion-color-light-tint: #f2f6fa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
    